:global {
	
	html {
		font-family: Consolas, 微软雅黑;
		background-color: rgb(245, 245, 245);
		
		* {
			user-select: none;
		}
	}
	
	body {
		margin: 0;
	}
	
	#react-app-root {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		
		
		.war3-ahk-reaxes {
			width: 460px;
			padding: 20px 40px 40px 40px;
			
			.ant-divider-horizontal {
				margin: 20px 0;
			}
			
			// 通过嵌套，修改 lang="en-US" 时的样式
			html[lang='en-US'] & {
				width: 560px;
			}
		}
		
	}
	
}
